<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>切換照片</title>
</head>
<style>
*{ 

margin:0;
padding:0;
}
#picBox{ 

margin:100px auto;
width:600px;
height:400px;
}
#pic{ 

width:600px;
height:400px;
}
#buttonBox{ 

width:150px;
margin:10px auto;
}
</style>
<body>
<div id="picBox">
<img src="C:\\Users\\April\\OneDrive\\文件\\Visual-inspections\\templates\\photo\\ph1.jpg" id="pic">
<div id="buttonBox">

<input type="button" value="確認" onclick="next();">
</div>
</div>
<script>
var picArr=new Array("C:\\Users\\April\\OneDrive\\文件\\Visual-inspections\\templates\\photo\\ph1.jpg","C:\\Users\\April\\OneDrive\\文件\\Visual-inspections\\templates\\photo\\ph2.jpg","C:\\Users\\April\\OneDrive\\文件\\Visual-inspections\\templates\\photo\\ph3.jpg","C:\\Users\\April\\OneDrive\\文件\\Visual-inspections\\templates\\photo\\ph4.jpg");
var index=0;
function next(){ 

index++;
if(index==picArr.length){ 

index=0;
}
document.getElementById("pic").src=picArr[index];
}
function pre(){ 

index--;
if(index<0){ 

index=picArr.length-1;
}
document.getElementById("pic").src=picArr[index];
}
</script>
</body>